<%- include('../../header'); %>
<script src="https://client.arkoselabs.com/fc/api/" async defer></script>


<div class="StandardBoxHeader" style="margin-top: 10px;"><span>Forgot your username or password?</span></div>
<div class="StandardBox">
    <p>We can send you an email to remind you of your usernames or reset your password. Please enter your email and
        click one of the links below.<br /></p>
    <p>
        <span style="color:red;">If you did not give us a <strong>real email address</strong> when you created your
            account, we
            <strong>cannot</strong> send you an email.</span>
    </p>
    <p>Email:&nbsp;<input type="text" id="email" /></p>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td width="140"><a id="ctl00_cphRoblox_ResetPasswordButton" href="#">Reset Password</a></td>

        </tr>
    </table>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td width="140"><a id="ctl00_cphRoblox_UsernamesReminderButton" href="#">Usernames Reminder</a>
            </td>

        </tr>
    </table>
    <div id="CAPTCHA"></div>
</div>

</div>
<script src="/js/pages/login/reset-password-request.js"></script>

<%- include('../../footer'); %>