<%- include('../../header'); %>
<script src="https://client.arkoselabs.com/fc/api/" async defer></script>

<div style="float: left; width: 620px; margin-top: 10px;">
    <div class="StandardBoxHeader" style="width: 620px;"><span>Create a Free ROBLOX Account</span></div>
    <div class="StandardBox" style="width: 620px;background:none;">
        <div style="text-align:center">
            <div style="text-align:left">Welcome to our really quick signup</div>
            <div style="position:relative;">
                <div class="signup-new-name-box"
                    style="border: 2px solid #bcbdb8;margin-left:75px;margin-right:75px;margin-top:32px;">
                    <h3 style="text-align:left;display: block;margin-top:-10px;margin-left:10px;"><span
                            style="background-color:#ffffff;padding:0 2px;font-size: 15px;color:#868686;font-weight:700;">Choose
                            a
                            name
                            for your ROBLOX character</span>
                    </h3>
                    <p style="display:block;text-align:left;margin-left:25px;margin-right:25px;color:#868686;">Use 3-20
                        alphanumeric
                        characters: A-Z,
                        a-z, 0-9, no
                        spaces. Please do not use your name or any
                        other information that identifies you in real life.
                    </p>
                    <div
                        style="display:block;text-align:left;padding: 0 25px;font-size:15px;font-weight:700;margin-bottom:15px;">
                        <span style="color:#868686;">Character Name:</span> <input type="text"
                            style="padding:2px;border:2px solid #bcbdb8;font-size:20px;" id="username">
                    </div>
                </div>
            </div>
            <div style="position:relative;margin-bottom:25px;">
                <div class="signup-new-name-box"
                    style="border: 2px solid #bcbdb8;margin-left:75px;margin-right:75px;margin-top:50px;">
                    <h3 style="text-align:left;display: block;margin-top:-10px;margin-left:10px;"><span
                            style="background-color:#ffffff;padding:0 2px;font-size: 15px;color:#868686;font-weight:700;">Choose
                            your ROBLOX password</span>
                    </h3>
                    <p style="display:block;text-align:left;margin-left:25px;margin-right:25px;color:#868686;">6-20
                        characters. At least 4 letters and 2 numbers. This is the KEY to your account. Don't pick
                        something obvious like "password", "asdf", or "qwerty".
                    </p>
                    <div
                        style="display:block;text-align:left;padding: 0 25px;font-size:15px;font-weight:700;margin-bottom:15px;">
                        <span style="color:#868686;margin-left:60px;">Password:</span> <input type="password"
                            style="padding:2px;border:2px solid #bcbdb8;font-size:20px;" id="password">
                    </div>
                    <div
                        style="display:block;text-align:left;padding: 0 25px;font-size:15px;font-weight:700;margin-bottom:15px;">
                        <span style="color:#868686;">Confirm Password:</span> <input type="password"
                            style="padding:2px;border:2px solid #bcbdb8;font-size:20px;" id="confirm-password">
                    </div>
                </div>
            </div>
            <div style="position:relative;margin-bottom:25px;display:none;" id="captcha-box">
                <div class="signup-new-name-box"
                    style="border: 2px solid #bcbdb8;margin-left:75px;margin-right:75px;margin-top:50px;">
                    <h3 style="text-align:left;display: block;margin-top:-10px;margin-left:10px;"><span
                            style="background-color:#ffffff;padding:0 2px;font-size: 15px;color:#868686;font-weight:700;">Captcha</span>
                    </h3>
                    <p style="display:block;text-align:left;margin-left:25px;margin-right:25px;color:#868686;">Press the
                        button below to prove you aren't a robot.
                    </p>
                    <div id="CAPTCHA"></div>
                </div>
            </div>
            <div id="signupError" style="color:Red;font-weight:bold;margin-bottom:10px;display:none;"></div>
            <a id="signUpButtonNew" class="MediumButton" style="width:250px;font-size:20px;font-weight:700;">Sign Up</a>
        </div>
        <br />
    </div>

    <!--
    <div class="StandardBoxHeader" style="width: 620px;"><span>Create a Parent Account</span></div>
    <div class="StandardBox" style="width: 620px;">
        <h3>Create an administrative account to control a child's access to ROBLOX</h3>

        <div class="AgeOptions">
            <div id="ParentAccount">
                <div class="BuildersClubButton"><a id="ctl00_cphRoblox_HyperLink1"
                        href="https://www.roblox.com/Parents/Register.aspx"><img src="/img/ParentAccount.png" alt=""
                            style="border-width:0px;" /></a></div>
                <div class="Label"><a id="ctl00_cphRoblox_HyperLink2"
                        href="https://www.roblox.com/Parents/Register.aspx">Parent Account</a></div>
            </div>
        </div>
    </div>
    -->
</div>

<div id="Sidebars" style="margin-top: 10px;">
    <div class="StandardBoxHeader" style="width: 230px;"><span>Already Registered?</span></div>
    <div class="StandardBox" style="width:230px;">
        <p>If you just need to login, go to the <a id="ctl00_cphRoblox_HyperLinkLogin"
                href="https://www.roblox.com/Login">Login</a> page.</p>
        <p>If you have already registered but you still need to download the game installer, go directly to <a
                id="ctl00_cphRoblox_HyperLinkDownload" href="https://www.roblox.com/install/">download</a>.</p>
    </div>
    <div class="StandardBoxHeader" style="width: 230px;"><span>Hey Parents!</span></div>
    <div class="StandardBox" style="width:230px;">
        <p>Are you creating an account for your young child?</p>
        <p>If so, you should select "Under 13"</p>
        <p>ROBLOX has a variety of online safety features that help to prevent your child from disclosing personal
            information to other players.
            <!-- As a parent, you will have the option to override them later.-->
        </p>
        <p><a id="ctl00_cphRoblox_ParentsInfo" href="https://www.roblox.com/Parents.aspx">More
                information for ROBLOX parents</a></p>
        <!--
        <p><a id="ctl00_cphRoblox_ParentsAccntLink" href="https://www.roblox.com/Parents/Login.aspx">Create/Manage
                Parent Account</a>
            -->
        </p>
        <p><a id="ctl00_cphRoblox_hlTruste" href="http://www.truste.org/ivalidate.php?url=www.roblox.com&amp;sealid=105"
                style="display:inline-block;width:140px;"><img src="/img/truste_seal_kids.gif" alt=""
                    style="border-width:0px;" /></a></p>
        <p><a target="_blank" href="https://www.bbb.org/online/consumer/cks.aspx?id=109111915116750"><img
                    title="Click to verify BBB accreditation and to see a BBB report." border="0"
                    src="https://www.roblox.com/images/bbbsealh1US.gif"
                    alt="Click to verify BBB accreditation and to see a BBB report." /></a>
        </p>
    </div>
</div><br clear="all" />

<script src="/js/pages/login/new-name-and-password.js"></script>


</div>
</div>

<%- include('../../footer'); %>