<% if (typeof mode === 'undefined' || typeof mode === 'string' && mode !== 'onlyTemplate') { %>
</div>


<div id="Footer">
    <div class="FooterNav">
        <a id="ctl00_cphFooter_rbxFooter_PrivacyHyperLink" ref="footer-privacy"
            href="http://www.roblox.com/info/Privacy.aspx"><b>Privacy Policy</b></a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_AdvertiseHyperLink" ref="footer-advertise"
            href="http://corp.roblox.com/advertise-on-roblox">Advertise
            with Us</a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_PressHyperLink" ref="footer-press"
            href="http://corp.roblox.com/roblox-press">Press</a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_ContactHyperLink" ref="footer-contact"
            href="http://corp.roblox.com/contact-us">Contact Us</a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_AboutHyperLink" ref="footer-about" href="http://corp.roblox.com/">About Us</a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_BlogHyperLink" ref="footer-blog" href="http://blog.roblox.com/">Blog</a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_JobsHyperLink" ref="footer-jobs" href="http://corp.roblox.com/jobs">Jobs</a>
        &nbsp;|&nbsp;
        <a id="ctl00_cphFooter_rbxFooter_ParentsHyperLink" ref="footer-parents"
            href="http://www.roblox.com/Parents.aspx">Parents</a>
    </div>
    <div class="FooterNav">
        <div id="ctl00_cphFooter_rbxFooter_SEOGenreLinks" class="SEOGenreLinks"><a
                href="http://www.roblox.com/FreeGames.aspx" ref="footer-games">Free
                Games</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/all-games" title="All Games"
                ref="footer-genres">All</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/gametutorials-games"
                title="Tutorial Games" ref="footer-tutorial">Tutorial</a>&nbsp;|&nbsp;<a
                href="http://www.roblox.com/scary-games" title="Scary Games"
                ref="footer-genres">Scary</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/town-and-city-games"
                title="Town and City Games" ref="footer-genres">Town and City</a>&nbsp;|&nbsp;<a
                href="http://www.roblox.com/war-games" title="War Games" ref="footer-genres">War</a>&nbsp;|&nbsp;<a
                href="http://www.roblox.com/funny-games" title="Funny Games"
                ref="footer-genres">Funny</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/medieval-games"
                title="Fantasy Games" ref="footer-genres">Fantasy</a>&nbsp;|&nbsp;<a
                href="http://www.roblox.com/adventure-games" title="Adventure Games"
                ref="footer-genres">Adventure</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/sci-fi-games"
                title="Sci-Fi Games" ref="footer-genres">Sci-Fi</a>&nbsp;|&nbsp;<a
                href="http://www.roblox.com/pirate-games" title="Pirate Games"
                ref="footer-genres">Pirate</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/fps-games" title="FPS Games"
                ref="footer-genres">FPS</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/rpg-games" title="RPG Games"
                ref="footer-genres">RPG</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/sports-games"
                title="Sports Games" ref="footer-genres">Sports</a>&nbsp;|&nbsp;<a
                href="http://www.roblox.com/ninja-games" title="Ninja Games"
                ref="footer-genres">Ninja</a>&nbsp;|&nbsp;<a href="http://www.roblox.com/wild-west-cowboy-games"
                title="Wild West Games" ref="footer-genres">Wild West</a></div>
    </div>
    <div class="legal">
        <div class="left">
            <a href="http://www.truste.org/ivalidate.php?url=www.roblox.com&amp;sealid=105"
                id="ctl00_cphFooter_rbxFooter_TrusteeSeal" ref="parents-truste"><img height="60" src="/img/TRUSTe.png"
                    border="0" id="TrusteLogo" alt="Truste" /></a>
            <a target="_blank" href="https://www.bbb.org/online/consumer/cks.aspx?id=109111915116750"
                ref="parents-bbb"><img height="60" title="Click to verify BBB accreditation and to see a BBB report."
                    border="0" src="/img/BBB.gif"
                    alt="Click to verify BBB accreditation and to see a BBB report." /></a>
        </div>
        <div class="right">


            <p class="Legalese">
                ROBLOX, "Online Building Toy", characters, logos, names, and all related indicia are trademarks
                of <a href="http://corp.roblox.com/" ref="footer-smallabout">ROBLOX Corporation</a>, ©2012. Patents
                pending.
                ROBLOX is not sponsored, authorized or endorsed by any producer of plastic building bricks,
                including The LEGO Group, MEGA Brands, and K'Nex, and no resemblance to the products of these
                companies is intended. Use of this site signifies your acceptance of the <a
                    href="http://www.roblox.com/info/TermsOfService.aspx" ref="footer-terms">Terms and Conditions</a>.
            </p>

        </div>
        <div class="clear"></div>
    </div>
</div>


</div>
<div id="ChatContainer" style="width: 100%">

</div>









<!--
<script type="text/javascript">
    //<![CDATA[
    if (typeof __utmSetVar !== 'undefined') { __utmSetVar(''); }; (function () { var fn = function () { RobloxLaunch._LaunchGamePage = "/Install/Download.aspx"; Sys.Application.remove_load(fn); }; Sys.Application.add_load(fn); })(); if (typeof __utmSetVar !== 'undefined') { __utmSetVar('Roblox_Item_Top_728x90'); } Roblox.Controls.Image.ErrorUrl = "http://www.roblox.com/Analytics/BadHtmlImage.ashx"; Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AssetRec_dlAssets_ctl00_AssetThumbnailHyperLink')); Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AssetRec_dlAssets_ctl01_AssetThumbnailHyperLink')); Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AssetRec_dlAssets_ctl02_AssetThumbnailHyperLink')); Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AssetRec_dlAssets_ctl03_AssetThumbnailHyperLink')); Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AssetRec_dlAssets_ctl04_AssetThumbnailHyperLink')); Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AssetRec_dlAssets_ctl05_AssetThumbnailHyperLink')); if (typeof __utmSetVar !== 'undefined') { __utmSetVar('Roblox_Item_Right_160x600'); }//]]>
</script>
-->

</body>

</html>
<% } %>